{% extends 'forum/base.html' %}
{% block title %}Вход в форумный аккаунт{% endblock %}
{% block og_title %}Форум любителей ТюмГУ - авторизация{% endblock %}
{% block og_url %}https://kritohanzo.ru/forum/login/{% endblock %}
{% block content %}      

<div class="text-center d-flex align-items-center flex-column h-100 justify-content-center font">
  <form action="{% url 'forum:login' %}" method="POST">
    {% csrf_token %}
    {% for field in login_form %}
      <div class="form-group mb-2">
        {% if field.errors %}
            <div class="error">
                {{ field.errors }}
            </div>
        {% endif %}
        <p class="font text-center">{{ field.label }}</p>
        {{ field }}
      </div>
    {% endfor %}
    <button class="btn btn-light btn-outline-dark btn-lg mt-2 mb-2 font" type="submit">Войти</button>
  </form>
  <p class="text-center font mt-3">У вас нет аккаунта?</p>
  <a class="btn btn-light btn-outline-dark btn-lg mt-2 font" href="{% url 'forum:register' %}">Регистрация</a>
</div>
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
  alert("{{ message }}")
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}